/* Import Google Fonts for Open Sans and Raleway */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Override Open Sans @font-face declarations with local() references */

/* Light 300 */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Light 300 Italic */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light Italic');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular 400 */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Regular 400 Italic */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Italic');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Semibold 600 */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans SemiBold');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Semi-Bold 600 Italic */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans SemiBold Italic');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold 700 */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Bold 700 Italic */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold Italic');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* Extrabold 800 */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans ExtraBold');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Extra-Bold 800 Italic */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans ExtraBold Italic');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Override Raleway @font-face declarations */
@font-face {
  font-family: "Raleway";
  src: local('Raleway Thin');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local('Raleway ExtraLight');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local('Raleway Light');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local('Raleway');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local('Raleway Medium');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local('Raleway SemiBold');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local('Raleway Bold');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local('Raleway ExtraBold');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local('Raleway Black');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Ensure font families are properly used throughout the app */
/* Note: span excluded to allow Font Awesome icons to display */
body, p, div, input, button, select, textarea, table, td, th, li, a {
  font-family: 'Open Sans', sans-serif !important;
}

/* For spans, use non-!important so Font Awesome can override */
span:not(.fas):not(.far):not(.fab):not(.fa) {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .navbar-brand, .nav-link {
  font-family: 'Raleway', sans-serif !important;
}