<!DOCTYPE html>
{% load static %}
<html id="html-root" lang="en">
<head id="head">
    <title id="pageTitle">{% block title %}BattyCoda{% endblock %}</title>
    <!-- Favicons -->
    <link id="favicon" rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link id="favicon16" rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link id="favicon32" rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link id="favicon48" rel="icon" type="image/png" sizes="48x48" href="{% static 'img/favicon/favicon-48x48.png' %}">
    <link id="favicon96" rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
    <link id="favicon128" rel="icon" type="image/png" sizes="128x128" href="{% static 'img/favicon/favicon-128x128.png' %}">
    <link id="appleIcon57" rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-touch-icon-57x57.png' %}">
    <link id="appleIcon60" rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-touch-icon-60x60.png' %}">
    <link id="appleIcon76" rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-touch-icon-76x76.png' %}">
    <link id="appleIcon120" rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-touch-icon-120x120.png' %}">
    
    <!-- Bootstrap 4.3.1 CSS (required by Maisonnette) from CDN -->
    <link id="bootstrapCSS" rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Maisonnette Core CSS -->
    <link id="stroke7CSS" rel="stylesheet" type="text/css" href="{% static 'lib/stroke-7/style.css' %}">
    <link id="perfectScrollbarCSS" rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.5.0/css/perfect-scrollbar.min.css">
    <!-- Font Awesome from static files -->
    <link id="fontAwesomeCSS" rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/all.min.css' %}">
    
    <!-- Load Google Fonts directly -->
    <link id="googleFontsPreconnect1" rel="preconnect" href="https://fonts.googleapis.com">
    <link id="googleFontsPreconnect2" rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link id="googleFonts" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <!-- Toastr CSS -->
    <link id="toastrCSS" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    
    <!-- Select2 CSS -->
    <link id="select2CSS" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
    
    <link id="appCSS" rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    
    <!-- Font fixes for Google Fonts -->
    <link id="fontFixCSS" href="{% static 'css/font-fix.css' %}" rel="stylesheet">
    
    <!-- Custom BattyCoda CSS -->
    <link id="themesCSS" href="{% static 'css/themes.css' %}" rel="stylesheet">
    
    <!-- Load theme CSS based on user preference (only if not using default theme) -->
    {% if user.is_authenticated %}
      {% with current_theme=user.profile.theme|default:'default' %}
        {% if current_theme != 'default' %}
          <link id="theme-css-{{ current_theme }}" rel="stylesheet" href="{% static 'css/themes/'|add:current_theme|add:'.css' %}">
        {% endif %}
      {% endwith %}
    {% endif %}
    
    {% block extra_css %}{% endblock %}
</head>
<body class="theme-{% if user.is_authenticated %}{{ user.profile.theme|default:'default' }}{% else %}default{% endif %} {% block body_class %}{% endblock %}" id="main-body">

    {# Notification for hijacked users is now handled by django-hijack's notification.html template #}


    <nav id="mainNavbar" class="navbar navbar-expand navbar-dark mai-top-header">
      <div id="navContainer" class="container-fluid"><a id="navBrand" class="navbar-brand pl-3" href="{% url 'battycoda_app:index' %}">
            <img id="navLogo" src="{% static 'img/brandmark-design.png' %}" alt="BattyCoda Logo" style="height: 40px; width: auto;">
            <span id="navTitle" class="h4 mb-0 ml-2">BattyCoda</span>
        </a>
        <ul id="navLinks" class="nav navbar-nav mai-top-nav">
          {% if user.is_authenticated %}
          <li id="navHomeItem" class="nav-item"><a id="navHome" class="nav-link" href="{% url 'battycoda_app:index' %}"><span class="s7-home mr-1"></span> Home</a></li>
          <li id="navRecordingsItem" class="nav-item"><a id="navRecordings" class="nav-link" href="{% url 'battycoda_app:recording_list' %}"><span class="s7-micro mr-1"></span> Recordings</a></li>
          <li id="navSegmentationItem" class="nav-item"><a id="navSegmentation" class="nav-link" href="{% url 'battycoda_app:batch_segmentation' %}"><span class="s7-scissors mr-1"></span> Segmentation</a></li>
          <li id="navClassificationItem" class="nav-item"><a id="navClassification" class="nav-link" href="{% url 'battycoda_app:automation_home' %}"><span class="s7-display1 mr-1"></span> Classification</a></li>
          <li id="navClusteringItem" class="nav-item"><a id="navClustering" class="nav-link" href="{% url 'battycoda_app:clustering_dashboard' %}"><span class="fa fa-cluster mr-1"></span> Clustering</a></li>
          <li id="navJobsItem" class="nav-item"><a id="navJobs" class="nav-link" href="{% url 'battycoda_app:jobs_dashboard' %}"><span class="s7-clock mr-1"></span> Jobs</a></li>
          <li id="navTaskBatchesItem" class="nav-item"><a id="navTaskBatches" class="nav-link" href="{% url 'battycoda_app:task_batch_list' %}"><span class="s7-box1 mr-1"></span> Task Batches</a></li>
          <li id="navProjectsItem" class="nav-item"><a id="navProjects" class="nav-link" href="{% url 'battycoda_app:project_list' %}"><span class="s7-portfolio mr-1"></span> Projects</a></li>
          <li id="navSpeciesItem" class="nav-item"><a id="navSpecies" class="nav-link" href="{% url 'battycoda_app:species_list' %}"><span class="s7-leaf mr-1"></span> Species</a></li>
          {% if user.profile.is_current_group_admin and user.profile.group %}
          <li id="navUsersItem" class="nav-item"><a id="navUsers" class="nav-link" href="{% url 'battycoda_app:group_users' %}"><span class="s7-users mr-1"></span> Users</a></li>
          {% endif %}
          {% if user.is_staff %}
          <li id="navAdminItem" class="nav-item"><a id="navAdmin" class="nav-link" href="{% url 'admin:index' %}"><span class="s7-tools mr-1"></span> Admin</a></li>
          {% endif %}
          {% endif %}
        </ul>
        <ul id="navIcons" class="navbar-nav float-lg-right mai-icons-nav">
          {% if user.is_authenticated %}
          <li id="navNotificationsItem" class="dropdown nav-item mai-notifications">
            <a id="notificationsDropdown" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
              <span id="bellIcon" class="icon s7-bell"></span><span id="notificationIndicator" class="indicator"></span>
            </a>
            <ul id="notificationsMenu" class="dropdown-menu">
              <li>
                <div id="notificationsTitle" class="title">Notifications</div>
                <div id="notificationsScroller" class="mai-scroller-notifications">
                  <div id="notificationsContent" class="content">
                    <ul id="notificationsList">
                      <!-- Notification items will be loaded dynamically via JavaScript -->
                      <li id="loadingNotification"><a href="#">
                          <div class="icon"><span class="s7-reload"></span></div>
                          <div class="content"><span class="desc">Loading notifications...</span><span class="date">Please wait</span></div></a></li>
                    </ul>
                  </div>
                </div>
                <div id="notificationsFooter" class="footer"><a id="viewAllNotifications" href="{% url 'battycoda_app:notifications' %}">View all notifications</a></div>
              </li>
            </ul>
          </li>
          {% endif %}
          <li id="themeSelectorItem" class="dropdown nav-item mai-settings">
            <a id="themeSelector" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
              <span id="themeIcon" class="icon s7-paint-bucket"></span> 
              {% if not user.is_authenticated %}
              <span id="themeText" class="ml-1">Choose Theme</span>
              {% endif %}
            </a>
            <ul id="themeSelectorMenu" class="dropdown-menu">
              <li>
                {% if user.is_authenticated %}
                <div id="themeSelectorTitle" class="title">Choose Theme</div>
                {% endif %}
                <div id="themeSelectorContent" class="content">
                  <ul id="themeList" class="list-unstyled m-0">
                    {% for theme_id, theme_name in THEME_CHOICES %}
                    <li id="themeItem-{{ theme_id }}" class="theme-list-item">
                      <a id="theme-{{ theme_id }}" class="theme-switcher-link dropdown-item py-2 {% if user.is_authenticated and user.profile.theme == theme_id %}active{% endif %}" href="#" data-theme="{{ theme_id }}">
                        <span id="themeName-{{ theme_id }}" class="theme-name theme-color-{{ theme_id }}">{{ theme_name }}</span>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
            </ul>
          </li>
        </ul>
        <ul id="userNav" class="nav navbar-nav float-lg-right mai-user-nav">
          {% if user.is_authenticated %}
          <li id="userDropdownItem" class="dropdown nav-item">
            <a id="userDropdown" class="dropdown-toggle nav-link" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
              {% if user.profile.profile_image %}
                <img id="userProfileImage" src="{{ user.profile.profile_image.url }}" alt="{{ user.username }}" class="rounded-circle mr-1" style="width: 30px; height: 30px; object-fit: cover;">
              {% else %}
                <span id="userIcon" class="icon s7-user"></span>
              {% endif %}
              <span id="userName" class="user-name">{{ user.username }}</span>
              <span id="userDropdownArrow" class="angle-down s7-angle-down"></span>
            </a>
            <div id="userDropdownMenu" class="dropdown-menu dropdown-menu-right" role="menu">
              <a id="profileLink" class="dropdown-item" href="{% url 'battycoda_app:edit_profile' %}">
                <span class="icon s7-user mr-1"></span> Profile
              </a>
              
              <!-- Group Dropdown Menu Items -->
              <div id="groupDivider1" class="dropdown-divider"></div>
              <h6 id="groupsHeader" class="dropdown-header">Your Groups</h6>
              {% for membership in user.group_memberships.all %}
              <a id="group-{{ membership.group.id }}" class="dropdown-item {% if user.profile.group == membership.group %}active bg-primary text-white{% endif %}" 
                href="{% url 'battycoda_app:switch_group' group_id=membership.group.id %}">
                {% if user.profile.group == membership.group %}
                <span id="groupCheck-{{ membership.group.id }}" class="s7-check mr-1"></span>
                {% endif %}
                <span id="groupName-{{ membership.group.id }}">{{ membership.group.name }}</span>
                {% if membership.is_admin %}<span id="groupAdmin-{{ membership.group.id }}" class="s7-shield ml-1" title="Admin"></span>{% endif %}
              </a>
              {% empty %}
              <span id="noGroupsMessage" class="dropdown-item">No groups available</span>
              {% endfor %}
              
              <div id="groupDivider2" class="dropdown-divider"></div>
              <a id="createGroupLink" class="dropdown-item" href="{% url 'battycoda_app:create_group' %}">
                <span class="s7-plus mr-1"></span> Create New Group
              </a>
              
              <div id="logoutDivider" class="dropdown-divider"></div>
              <a id="logoutLink" class="dropdown-item" href="{% url 'battycoda_app:logout' %}">
                <span class="s7-power mr-1"></span> Logout
              </a>
            </div>
          </li>
          {% else %}
          <li id="loginItem" class="nav-item">
            <a id="loginBtn" href="{% url 'battycoda_app:login' %}" class="nav-link">
              <span class="s7-user mr-1"></span> Login
            </a>
          </li>
          <li id="registerItem" class="nav-item">
            <a id="registerBtn" href="{% url 'battycoda_app:register' %}" class="nav-link">
              <span class="s7-add-user mr-1"></span> Register
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
<div id="mainContentWrapper" class="main-content container">
    <div id="mainContent" class="py-3">
        {% block content %}{% endblock %}
    </div>
</div>


{% block extra_js %}{% endblock %}

<!-- Maisonnette Core JS from CDN -->
<script id="jqueryScript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script id="perfectScrollbarScript" src="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.5.0/dist/perfect-scrollbar.min.js"></script>
<script id="toastrScript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script id="select2Script" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- Bootstrap 4.3.1 JS with Popper (required by Maisonnette) from CDN -->
<script id="popperScript" src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script id="bootstrapScript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script id="appScript" src="{% static 'js/app.js' %}" type="text/javascript"></script>

<!-- Custom Scripts -->
<script id="datetimeFormatterScript" src="{% static 'js/datetime_formatter.js' %}"></script>
<script id="themeSwitcherScript" src="{% static 'js/theme-switcher.js' %}"></script>
{% if user.is_authenticated %}
<script type="text/javascript">
    // Set notification URLs for JavaScript
    var navbarNotificationsUrl = "{% url 'battycoda_app:get_navbar_notifications' %}";
    var markNotificationReadUrl = "{% url 'battycoda_app:mark_notification_read' notification_id=0 %}";
</script>
<script id="notificationsScript" src="{% static 'js/notifications.js' %}"></script>
{% endif %}

<script id="appInitScript" type="text/javascript">
    $(document).ready(function(){
        // Initialize Maisonnette
        App.init();
        
        // Initialize Select2 on all select elements
        $('select.form-control').select2({
            width: '100%'
        });
        
        // Configure toastr options
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        
        // Display Django messages using toastr
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    toastr.success('{{ message|escapejs }}');
                {% elif message.tags == 'info' %}
                    toastr.info('{{ message|escapejs }}');
                {% elif message.tags == 'warning' %}
                    toastr.warning('{{ message|escapejs }}');
                {% elif message.tags == 'error' %}
                    toastr.error('{{ message|escapejs }}');
                {% else %}
                    toastr.info('{{ message|escapejs }}');
                {% endif %}
            {% endfor %}
        {% endif %}
    });
</script>
</body>
</html>
